a {
  text-decoration: none;
  color: #000;
  color: white;
}
.site-header {
  padding: 0.2rem 1.6rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #2d2e2d;
}

.site-identity {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-identity h1 {
  font-size: 1.5rem;
  margin: 0.5em 0;
  display: inline-block;
  display: flex;
  align-items: center;
}

.site-identity h1 a {
  margin-left: 0.4rem;
}

/* mantine override styles */
.mantine-MultiSelect-input {
  max-width: 15rem;
  max-height: 4rem;
  overflow-y: scroll !important;
}
